<div class="disclaimer">
  <h5 class="disclaimer__title">Disclaimer</h5>
  <p>I love essential oils and am very passionate about reading every single thing I can about them.</p>
  <p>However, I'm not a medical professional. I will not diagnose, treat or refer you to certain oils for any disease. I encourage you to ask your doctor about oils.</p>
  <p>I also encourage you do as much research as you can, take it slow, learn your body and how it responds to oils. Oils are amazing little drops of awesome but they are also very powerful. Take control of your body and change the way you look at wellness!</p>
</div>
