<div class="wrapper">
  <div class="divider">
    <%# Link to main app %>
    <div class="divider__title divider__title--t-margin">
      <h2><a class="divider__link" href="#">Join Young Living</a></h2>
    </div>
  </div>
</div>
