
  <div class="divider">
    <%# Link to main app %>
    <div class="divider__title divider__title--t-margin">
      <h2><a class="divider__link" href="https://www.youngliving.com/vo/#/signup/new-start?sponsorid=10590392&enrollerid=10590392&isocountrycode=US&culture=en-US&type=member">Join Young Living</a></h2>
    </div>
  </div>
