  <footer class="footer">
    <div class="social-links">
      <h2 class="social-links__follow">Follow Me On</h2>
      <div class="social-links__container">
        <a class="social-links__link" href="#"><i class="social-links__icon fa fa-facebook"></i></a>
        <a class="social-links__link" href="#"><i class="social-links__icon fa fa-twitter"></i></a>
        <a class="social-links__link" href="#"><i class="social-links__icon fa fa-instagram"></i></a>
      </div>
    </div>
    <p class="footer__text"> Site Created by Mark McConnell &copy; 2017</p>
  </footer>
  <%# <script type="text/javascript" src="/temp/scripts/App.js"></script>%>
</body>
</html>
