  <footer class="footer">
    <div class="social-links">
      <h2 class="social-links__follow">Follow Me On</h2>
      <div class="social-links__container">
        <a class="social-links__link" href="https://www.google.com/url?q=https%3A%2F%2Fwww.facebook.com%2Foilmylife2017%2F&sa=D&sntz=1&usg=AFQjCNFqqIWRi9fMZSR4Z-YT93cpVkdoKA">
          <i class="social-links__icon fa fa-facebook-square"></i>
        </a>
        <a class="social-links__link" href="https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2Foilmylife&sa=D&sntz=1&usg=AFQjCNEYBu6vOwITajrlosfIo-T46WY9pg">
          <i class="social-links__icon fa fa-twitter-square"></i>
        </a>
        <a class="social-links__link" href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Foil_my_life%2F&sa=D&sntz=1&usg=AFQjCNFk8TPPjr3pzYuj6ESL1D3_UuBeFA">
          <i class="social-links__icon fa fa-instagram"></i>
        </a>
        <%# <a class="social-links__link" href="#"><i class="social-links__icon fa fa-youtube-square"></i></a>%>
      </div>
    </div>
    <p class="footer__text"> Site Created by Mark McConnell &copy; 2017</p>
  </footer>
  <script type="text/javascript" src="/temp/scripts/App.js"></script>
</body>
</html>
