<!DOCTYPE html>
 <html>
 	<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108550225-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108550225-1');
    </script>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>Oil My Life Blog</title>
 		<meta name="description" content="A blog about a mother who discovered how essential oils can change her life" />
 		<meta name="author" content="Amy McConnell" />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,400i,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 		<link rel="stylesheet" type="text/css" href="/dist/styles/styles.css">
 	</head>
 	<body>
    <header class="site-header">
      <%# <div class="wrapper">%>
        <% if(error && error.length > 0) { %>
            <div class="flash-message flash-message--error" role="alert">
              <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
          <div class="flash-message flash-message--success">
            <%= success %>
          </div>
        <% } %>
      <%# </div>%>
      <div class="site-header__top-wrapper">
        <div class="site-header__menu-icon">
          <div class="site-header__menu-icon__middle"></div>
          <%# <i class="site-header__btn fa fa-bars"></i>%>
        </div>
      </div>
      <%# Possibly put in links related to different tags %>
      <div id="menu-content" class="site-header__menu-content">
        <nav class="primary-nav">
          <ul class="primary-nav__list primary-nav__list--tall">
            <li class="primary-nav__list-item"><a class="primary-nav__link" href="/posts">Home</a></li>
            <li class="primary-nav__list-item"><a class="primary-nav__link" href="/about">About Me</a></li>
            <%# <li class="primary-nav__list-item"><a href="/">Oil My Life</a></li>%>
            <% if(!currentUser) { %>
              <li class="primary-nav__list-item"><a class="primary-nav__link" href="/login">Login</a></li>
              <li class="primary-nav__list-item"><a class="primary-nav__link" href="/register">Register</a></li>
            <% } else { %>
              <li class="primary-nav__list-item"><a class="primary-nav__link" href="/logout">Logout</a></li>
              <li class="primary-nav__list-item primary-nav__list-item--white">Signed In As <%= currentUser.username %></li>
              <% if(currentUser.role === 'admin') { %>
                <li class="primary-nav__list-item"><a class="primary-nav__link" href="/posts/new">New Post</a></li>
              <% } %>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>
