<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>Oil My Life Blog</title>
 		<meta name="description" content="A blog about a mother who discovered how essential oils can change her life" />
 		<meta name="author" content="Amy McConnell" />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,400i,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 		<link rel="stylesheet" type="text/css" href="temp/styles/styles.css">
 	</head>
 	<body>
    <nav class="primary-nav">
      <h1 class="primary-nav__title">Oil My Life</h1>
      <div class="primary-nav__mobile-menu">
        <i class="primary-nav__mobile-menu__icon fa fa-bars"></i>
      </div>
      <div class="primary-nav__border"></div>
        <div class="primary-nav__flex-container">
          <%# Possibly put in links related to different tags %>
          <a class="primary-nav__link" href="#">Home</a>
          <a class="primary-nav__link" href="#">About</a>
          <a class="primary-nav__link" href="#">Blog Posts</a>
          <a class="primary-nav__link" href="#">Login / Register</a>
        </div>
      </div>
    </nav>
