<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>Oil My Life Blog</title>
 		<meta name="description" content="A blog about a mother who discovered how essential oils can change her life" />
 		<meta name="author" content="Amy McConnell" />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,400i,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 		<link rel="stylesheet" type="text/css" href="/dist/styles/styles.css">
 	</head>
 	<body>
    <div class="site-header">
      <div class="site-header__top-wrapper">
        <h1 class="site-header__title">Oil My Life</h1>
        <div class="site-header__menu-icon site-header__menu-icon--show-at-medium">
          <div class="site-header__menu-icon__middle"></div>
        </div>
      </div>
      <div id="menu-content" class="site-header__menu-content">
        <nav class="primary-nav">
          <ul class="primary-nav__list">
            <li class="primary-nav__list-item"><a class="primary-nav__link" href="#intro">Home</a></li>
            <li class="primary-nav__list-item"><a class="primary-nav__link" href="#about">About</a></li>
            <li class="primary-nav__list-item"><a class="primary-nav__link" href="../blog/posts">Blog</a></li>
            <li class="primary-nav__list-item dropdown">
              <a class="primary-nav__link" href="#">
                Membership
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown__links">
                <a class="dropdown__link" href="#membership">About Young Living</a>
                <a class="dropdown__link" href="#">What Are Essential Oils?</a>
                <a class="dropdown__link" href="#">How To Get Started</a>
                <a class="dropdown__link" href="#">Starter Kit Info</a>
              </div>
            </li>
            <li class="primary-nav__list-item dropdown">
              <a class="primary-nav__link" href="#">
                Essential Oils
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown__links">
                <a class="dropdown__link" href="#starter-kit">Starter Kit Oils</a>
                <a class="dropdown__link" href="#">Featured Oils</a>
                <a class="dropdown__link" href="#">Top 20 Oils</a>
                <a class="dropdown__link" href="#">Amy's Favorites</a>
              </div>
            </li>
            <li class="primary-nav__list-item"><a class="primary-nav__link" href="#products">FAQ</a></li>
            <li class="primary-nav__list-item"><a class="primary-nav__link" href="#contact-form">Contact Me</a></li>
          </ul>
        </nav>
      </div>
    </div>
