  <aside class="row__medium-4">
    <div class="sidebar">
      <img class="sidebar__profile-pic" src="/assets/images/profile_pic.jpg" alt="A Picture of Amy McConnell" />
      <p>Wife, mommy of two boys, Licensed Clinical Social Worker on a journey to change her life</p>
      <nav>
        <h3 class="sidebar__subtitle">Resources</h3>
        <p><a
            href="https://www.youngliving.com/vo/#/signup/new-start?sponsorid=10590392&enrollerid=10590392&isocountrycode=US&culture=en-US&type=member"
            class="sidebar__link">
            Young Living
          </a>
        </p>
        <p><a href="https://www.discoverlsp.com/" class="sidebar__link">Life Science</a></p>
        <p><a href="https://draxe.com/" class="sidebar__link">Dr. Axe</a></p>
        <p><a href="http://growinghealthyhomes.com/" class="sidebar__link">Growing Healthy Homes</a></p>
        <p><a href="https://www.amazon.com/" class="sidebar__link">Amazon</a></p>
        <h3 class="sidebar__subtitle sidebar__subtitle--t-margin">Tags</h3>
        <%# Example tags%>
        <p><a href="/blog/tags/Recipes" class="sidebar__link">Recipes</a></p>
        <p><a href="/blog/tags/Essential Oils" class="sidebar__link">Essential Oils</a></p>
        <p><a href="/blog/tags/Mental Health" class="sidebar__link">Mental Health</a></p>
        <p><a href="/blog/tags/Parenting" class="sidebar__link">Parenting</a></p>
        <p><a href="/blog/tags/Health" class="sidebar__link">Health</a></p>
        <%# Full width divider with a link to the parent app %>
      </nav>
    </div>
  </aside>
