  <div class="row__medium-4">
    <div class="sidebar">
      <img src="http://via.placeholder.com/350x175" alt="A Picture of Amy McConnell" />
      <p>Wife, mommy of two boys, licensed clinical social worker on her journey to change her life</p>
      <h3 class="sidebar__subtitle">Resources</h3>
      <p><a href="#" class="sidebar__link">Young Living</a></p>
      <p><a href="#" class="sidebar__link">Another resource</a></p>
      <p><a href="#" class="sidebar__link">Yet Another Resource</a></p>
      <p><a href="#" class="sidebar__link">And Another Resource</a></p>
      <h3 class="sidebar__subtitle sidebar__subtitle--t-margin">Tags</h3>
      <%# Example tags%>
      <p><a href="/tags/Recipes" class="sidebar__link">Recipes</a></p>
      <p><a href="/tags/Essential Oils" class="sidebar__link">Essential Oils</a></p>
      <p><a href="/tags/Mental Health" class="sidebar__link">Mental Health</a></p>
      <p><a href="/tags/Parenting" class="sidebar__link">Parenting</a></p>
      <p><a href="/tags/Health" class="sidebar__link">Health</a></p>
      <%# Full width divider with a link to the parent app %>
    </div>
  </div>
