<% include partials/header %>
<% include partials/top-section %>
<div class="row row--gutters-medium row--b-margin">
  <div class="row__medium-8">
    <h1 class="blog-about__title">About Oil My Life</h1>
    <img class="blog-about__profile-pic" src="/assets/images/family_pic.jpg" alt="A Picture of Amy and her boys"/>
    <p class="blog-about__text">
      Hi there! I just wanted to share a little about myself. My name is Amy McConnell, and I am a wife, mommy to two little boys, 7 and 1, and a Licensed Clinical Social Worker. My family is my number one priority in my life as well as all things related to health and mental health. I have wanted to help others my entire life which is why I obtained my Bachelor’s degree from University of Indianapolis in Psychology.
    </p>
    <p class="blog-about__text">
      During my undergrad years, I worked several jobs including one that had a special place in my heart, working with a child with autism. That job fueled my desire and passion to help others. I later worked at a residential facility for dual diagnosis children until I had to make the tough decision to go back to being a manager at a local pharmacy retailer. It paid the bills, but it didn’t satisfy my desire to help others make positive changes in their lives.
    </p>
    <p class="blog-about__text">
      My husband encouraged me to go back to graduate school to get my Master’s in Social Work. My oldest son was 6 months old at the time, which meant I juggled a job and a full-time course load, and internships. I graduated with my Master’s from Indiana University two years later. After graduation I worked in several different jobs as a therapist: home-based, school-based, and office-based. I loved helping others, but the compassion fatigue hit me hard, especially after the birth of my second son. I struggled with postpartum anxiety pretty badly, and still am dealing with it almost 16 months later.
    </p>
    <p class="blog-about__text">
      My journey to essential oils began after my second child’s birth, trying to find a healthier and more natural way to deal with health and mental health needs for myself, my kids, and my husband. This journey isn’t just about how I became obsessed with Young Living essential oils. It’s about the ups, the downs, the trial and errors, the struggles, and the miracles that I keep encountering along the way.  Essential oils have had such a huge impact on how we are striving towards a healthier and holistic lifestyle, that I hope to have found another outlet to help others.  I invite you to join me on this journey. I promise it will be one hell of a ride.
    </p>
  </div>
  <% include partials/sidebar %>
</div>
<% include partials/divider %>
<% include partials/disclaimer %>
<% include partials/footer %>
