<% include partials/header %>

    <%# Most recent blog in hero format %>
    <div class="wrapper wrapper--p-top">
      <div class="header">
        <img class="header__image" src="/assets/images/test.png" />
        <div class="header__text">
          <h1 class="header__text__title">For Moms And Better Health</h1>
        </div>
      </div>

      <div class="row row--gutters-medium">
        <div class="row__medium-8">
          <h2 class="generic-text-container">Recent Posts</h2>
          <%# Last three recent blog posts in smaller card format on left side column %>
          <%# Refactor to ejs loop %>
          <div class="recent-post card">
            <div class="row">
              <div class="recent-post__left-side">
                <img class="recent-post__left-side__image" src='http://via.placeholder.com/350x175' alt="Placeholder image" />
              </div>
              <div class="recent-post__right-side">
                <div class="recent-post__right-side__text">
                  <h3 class="recent-post__right-side__title">The Dreaded "P" Word...</h3>
                  <p class="recent-post__right-side__snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
          </div>
          <div class="recent-post card">
            <div class="row">
              <div class="recent-post__left-side">
                <img class="recent-post__left-side__image" src='http://via.placeholder.com/350x175' alt="Placeholder image" />
              </div>
              <div class="recent-post__right-side">
                <div class="recent-post__right-side__text">
                  <h3 class="recent-post__right-side__title">Recent Post Title</h3>
                  <p class="recent-post__right-side__snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
          </div>
          <div class="recent-post card">
            <div class="row">
              <div class="recent-post__left-side">
                <img class="recent-post__left-side__image" src='http://via.placeholder.com/350x175' alt="Placeholder image" />
              </div>
              <div class="recent-post__right-side">
                <div class="recent-post__right-side__text">
                  <h3 class="recent-post__right-side__title">Recent Post Title</h3>
                  <p class="recent-post__right-side__snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row__medium-4">
          <%# Second column for archoved posts and tags %>
          <div class="sidebar">
            <h3 class="sidebar__subtitle">Archives</h3>
            <p class="sidebar__link">This month</a>
            <p class="sidebar__link">Last month</a>
            <p class="sidebar__link">Last Last month</a>
            <p class="sidebar__link">Older</a>
            <h3 class="sidebar__subtitle sidebar__subtitle--t-margin">Tags</h3>
            <%# Example tags%>
            <p class="sidebar__link">Recipes</a>
            <p class="sidebar__link">Essential Oils</a>
            <p class="sidebar__link">Mental Health</a>
            <p class="sidebar__link">Parenting</a>
            <%# Full width divider with a link to the parent app %>
          </div>
        </div>
      </div>
    </div>

<% include partials/bottom-section %>
<% include partials/footer %>
