<% include partials/landing-header %>
  <section id="intro" class="intro">
    <div class="intro__motto">
      <h1 class="intro__tagline">
        <span class="intro__span">Changing Lives...</span>
        <span class=>One Oil At A Time.</span>
      </h1>
    </div>
  </section>

  <span class="anchor-id__span" id="about"></span>
  <section class="about-section generic-section">
    <div class="generic-text-container">
      <h2 class="about-section__title">Welcome To Oil My Life</h2>
      <p class="about-section__text">
        Oil My Life is my personal place that I wanted to create to document my journey to a healthier life. I had such a life altering experience when I started using Young Living essential oils that I wanted my journey to continue... through all avenues in mine and my family’s lives. I became so passionate and enthusiastic about oils and how they have made a difference that I just wanted to share with others.  I became  discouraged when I would try to talk and share about the changes I was making by incorporating the oils in my life and felt like I had very little support from some others who weren’t as open to thinking outside the box.
      </p>
      <p class="about-section__text">
        Change is scary for everyone, I get it. But Oil My Life signifies my own little world where I can share, educate, discuss, learn, and channel my creativity with others who are either already on this oily journey, want to start but don’t know where to begin, or are just curious in what kinds of changes they might be able to incorporate in their own lives. This little world of mine is a place where mistakes are okay, perfectionism isn’t allowed, and learning something new each and every day is a promise.
      </p>
      <p class="about-section__text">
        I am passionate about essential oils, and that is why I knew that the road block I put up for so long regarding the price tags and the unconventionality of oils wasn’t going to stop me from creating a healthier life for me and my family.  The recipes I have tried, modified, and even created myself have been life changing. The pages and pages of information I soak up like a sponge about oils and their benefits have made such a huge impact in how I view what I will and will not allow in my household, especially around my kids. I am excited to let you into my world and hope you will enjoy Oil My Life as much as I do.
      </p>
    </div>
  </section>

  <span class="anchor-id__span" id="membership"></span>
  <section class="membership-section generic-section">
    <h2 class="generic-section__title">Young Living Membership</h2>
  </section>

  <span class="anchor-id__span" id="join"></span>
  <section class="join-section generic-section generic-section--extra-padding">
    <h2 class="generic-section__title">Join Young Living</h2>
  </section>

  <span class="anchor-id__span" id="starter-kit"></span>
  <section class="starter-kit-section generic-section">
    <h2 class="generic-section__title">Starter Kit Essential Oils</h2>
  </section>

  <span class="anchor-id__span" id="contact-form"></span>
  <section class="contact-form row">
    <div class="contact-form__flex-container">
      <div class="contact-form__container">
        <img class="contact-form__image" src="/assets/images/landing_profile.jpg" />
        <p>Wife, mommy of two boys, Licensed Clinical Social Worker on a journey to change her life one oil at a time.</p>
        <img class="contact-form__distributor-logo" src="/assets/images/independentdistributorlogo.jpg" alt="Young Living Independent Distributor Logo" />
      </div>
      <div class="contact-form__container">
        <div class="row">
          <form class="contact-form__form" action="/send" method="POST" role="form">
            <h2 class="contact-form__title">Contact Me</h2>
            <div class="contact-form__half contact-form__left">
              <input class="contact-form__input" name="emailName" type="text" placeholder="Name" required />
              <input class="contact-form__input" name="emailAddress" type="email" placeholder="E-mail Address" required />
              <input class="contact-form__input" name="emailSubject" type="text" placeholder="Subject" required />
            </div>
            <div class="contact-form__half contact-form__right">
              <textarea class="contact-form__input contact-form__textarea" name="emailMessage" placeholder="Message"></textarea>
            </div>
            <input class="contact-form__input contact-form__button" type="submit" name="submit" value="Send" />
          </form>
        </div>
      </div>
    </div>
  </section>
<% include partials/disclaimer %>
<% include partials/footer %>
