.button {
  background-color: transparent;
  color: $mainGreen;
  border: 3px solid $mainGreen;
  padding: 12px 30px;
  font-weight: 700;
  display: block;
  margin: 1.25rem auto 0 auto;
  transition: all .3s ease-out;
  outline: none;

  &:hover {
    background-color: $mainGreen;
    color: #fff;
  }

  &__wrapper {
    display: flex;
  }

  &--margins {
    margin: .5rem;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &--b-margin {
    margin-bottom: 2rem;
  }

  &--b-radius {
    border-radius: 10px;
  }

  &--small {
    margin: .5rem;
  }

  &--wide {
    width: 50%;
  }

  &--yellow {
    border: 3px solid $mainYellow;
    color: $mainYellow;

    &:hover {
      background-color: $mainYellow;
      color: #fff;
    }
  }

  &--red {
    border: 3px solid $mainRed;
    color: $mainRed;

    &:hover {
      background-color: $mainRed;
      color: #fff;
    }
  }

  &--pull-right {
    float: right;
  }
}
