.button {
  background-color: transparent;
  color: $mainGreen;
  border: 3px solid $mainGreen;
  padding: 12px 30px;
  font-weight: 700;
  display: block;
  margin: 1.25rem auto 0 auto;
  transform: scale(1);
  transition: transform .3s ease-out;
  outline: none;

  &:hover {
    background-color: $mainGreen;
    color: #fff;
    transform: scale(1.1);
  }

  &--b-margin {
    margin-bottom: 2rem;
  }

  &--b-radius {
    border-radius: 10px;
  }
}
