.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 100%;
  overflow: hidden;
  height: 33rem;
  margin-top: 3rem;

  @mixin atLarge {
    max-width: 50%;
  }

  &__container {
    width: 100%;
    height: 27rem;
    position: relative;
  }

  &__card {
    position: absolute;
    left: 100%;
    transition: left .7s ease-out;
    background-color: #fff;
    color: $mainPurple;
    min-width: 100%;
    height: 100%;
    border-radius: 7px;
    outline: 2px solid $mainGreen;
    outline-offset: -10px;
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/

    &--current {
      left: 0;
    }
  }

  &__items {
    color: $mainPurple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1.5rem;

    @mixin atMedium {
      flex-wrap: nowrap;
    }
  }

  &__item-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $mainGreen;
    padding-top: .5rem;
  }

  &__image-container {
    width: 50%;
    margin: 0 auto;
  }

  &__image {
    width: 250px;
    height: 250px;
  }

  &__detail-list {
    width: calc(100% - 20px);
  }

  &__detail-list-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1.25rem;

    &:before {
      content: "•";
      padding-right: 10px;
      color: $mainGreen;
    }
  }

  &__controls {
    color: #fff;
    opacity: .6;
    cursor: pointer;
    display: none;

    &--left {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
    }

    &--right {
      position: absolute;
      top: 50%;
      right: 20%;
      transform: translateY(-50%);
    }

    @mixin atLarge {
      display: block;
    }
  }
}
