.carousel {
  /*display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;*/
  position: relative;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  height: 33rem;

  @mixin atLarge {
    max-width: 60%;
  }

  &__card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: $mainPurple;
    width: 80%;
    min-height: 450px;
    border-radius: 7px;
    outline: 2px solid $mainGreen;
    outline-offset: -10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0;
    transition: opacity 1s linear;

    &--visible {
      opacity: 1;
    }
  }

  &__items {
    color: $mainPurple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;

    @mixin atMedium {
      flex-wrap: nowrap;
    }
  }

  &__controls {
    opacity: .6;
    cursor: pointer;

    &--left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &--right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &__item-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $mainGreen;
    padding-top: .75rem;
  }

  &__image-container {
    width: 50%;
    margin: 0 auto;
  }

  &__image {
    width: 250px;
    height: 250px;
  }

  &__list {
    width: calc(100% - 20px);
  }

  &__list-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1.25rem;

    &:before {
      content: "•";
      padding-right: 10px;
      color: $mainGreen;
    }
  }
}
