.contact-form {
  background-color: $mainOrange;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #fff;

  &__flex-container {
    align-content: center;
    padding: 1.25rem;

    @mixin atLarge {
      display: flex;
      justify-content: space-around;
      max-width: 60%;
      margin: 0 auto;
    }
  }

  &__container {
    width: 100%;
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  &__image {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  &__distributor-logo {
    width: calc(100% - 1.5rem);

    @mixin atMedium {
      max-width: 350px;
    }
  }

  &__title {
    font-size: 1.25rem;
    margin: 0;

    @mixin atMedium {
      font-size: 1.75rem;
    }
  }

  &__form {
    padding: .75rem;
    text-align: center;
    box-sizing: border-box;

    @mixin atLarge {
      width: 600px;
    }
  }

  &__half {
    margin-bottom: 1em;
    float: none;

    @mixin atLarge {
      float: left;
      width: 48%;
    }
  }

  &__left {
    @mixin atLarge {
      width: 48%;
      margin-right: 2%;
    }
  }

  &__right {
    @mixin atLarge {
      width: 50%;
    }
  }

  &__input {
    border: 0;
    border-radius: 8px;
    outline: 0;
    padding: 1em;
    margin-top: 1em;
    display: block;
    width: 100%;

    &:focus {
      box-shadow: 0 0px 2px rgba($mainGreen, 1);
    }
  }

  &__textarea {
    height: 182px;
    padding: 1em;
  }

  &__button {
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
    cursor: pointer;
    outline: none;
    font-size: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    &:hover {
      box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
    }
  }
}
