.disclaimer {
  text-align: center;
  padding: 1.25rem 18px;

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 auto;
    width: 60%;
    border-bottom: 1px solid $mainGreen;
  }

  &__text {
    margin: 0 auto;
    width: 100%;
    text-align: left;

    @mixin atMedium {
      width: 80%;
    }

    @mixin atLarge {
      width: 60%;
    }
  }
}
