.generic-text-container {
  text-align: center;
  margin-top: 0;
  padding-left: 18px;
  padding-right: 18px;

  &--t-margin {
    margin-top: 1.5rem;
  }

  &--small-padding {
    padding: 1.125rem 0;
  }

  &--large-font {
    font-size: 1.75rem;
    font-weight: 700;
  }
}
