.generic-section {
  margin: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;

  &__title {
    font-size: 1.75rem;
    text-align: center;
  }

  &__text {
    font-size: 1rem;
    text-align: left;
  }
}
