.intro {
  background-image: url('../../assets/images/sean-mcauliffe-12857.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 97vh;
  position: relative;

  &__motto {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-size: 2.5rem;
  }

  &__tagline {
    font-size: 2.5rem;

    @mixin atMedium {
      font-size: 3.5rem;
    }
  }

  &__span {
    display: block;

    @mixin atMedium {
      display: inline;
    }
  }
}
