.recent-post {
  margin-bottom: 1.5rem;

  @mixin atMedium {
    margin-bottom: 3.75rem;
  }

  @mixin clearfix;

  &__left-side {
    width: 100%;

    @mixin atSmall {
      width: 60%;
      float: left;
    }

    &__image {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  &__right-side {
    width: 100%;

    @mixin atMedium {
      width: 40%;
      float: right;
    }

    &__text {
     padding: .6rem;
    }

    &__title {
     color: $mainGreen;
     font-weight: 700;
    }

    &__snippet {
     font-weight: 400;
    }
  }
}
