.recent-post {
  margin-bottom: 1.5rem;

  @mixin atMedium {
    margin-bottom: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  @mixin clearfix;

  &__left-side {
    width: 100%;

    @mixin atMedium {
      width: 60%;
      height: auto;
      float: left;
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    vertical-align: top;
  }

  &__right-side {
    width: 100%;

    @mixin atMedium {
      width: 40%;
      float: right;
    }
  }

  &__text {
   padding: .6rem;
  }

  &__tag {
    margin: 0;
    color: #000;
  }

  &__title {
    color: $mainGreen;
    font-weight: 700;
    font-size: 1rem;

    @mixin atMedium {
      font-size: 1.2rem;
    }
  }

  &__date {
    margin: 0;
    color: #000;
  }
}
