.sidebar {
  text-align: center;
  display: none;

  @mixin atMedium {
    display: block;
  }

  &__profile-pic {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &__subtitle {
    color: $mainGreen;
    border-bottom: 1px solid $mainGreen;

    &--t-margin {
      margin-top: 3rem;
    }
  }

  &__link {
    color: #000;
  }
}
