.sidebar {
  text-align: center;
  display: none;

  @mixin atMedium {
    display: block;
  }

  &__subtitle {
    color: $mainGreen;
    border-bottom: 1px solid $mainGreen;

    &--t-margin {
      margin-top: 3rem;
    }
  }

  &__link {
    color: #000;
  }
}
