.site-header {
  background-color: $mainPurple;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0 0 50% 50%;

  @mixin atMedium {
    border-radius: 0;

  }

  &--is-expanded {
    background-color: rgba($mainGreen, 0.65);
  }

  &__title {
    color: #fff;
    margin-bottom: .75rem;
    margin-top: .5rem;

    @mixin atMedium {
      font-size: 2.5rem;
    }
  }

  &__menu-content {
    display: none;

    @mixin atMedium {
      display: block;
    }

    &--is-visible {
      display: block;
      background-color: rgba($mainPurple, 0.8);
    }
  }

  &__btn-container {
    position: absolute;
    top: 8px;
    right: 20px;
    opacity: 1;
    z-index: 1;

    @mixin atMedium {
      opacity: 0;
      z-index: -1;
    }
  }

  &__btn {
    color: #fff;
    font-size: 1.75rem;

    &--close-x {

    }
  }

}
