.social-links {
  text-align: center;

  &__container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > a {

    }
  }

  &__link {
    text-decoration: none;
    color: $mainGreen;
  }

  &__icon {
    color: $mainGreen;
    font-size: 2rem;
  }
}
