<% include partials/header %>
  <% include partials/top-section %>

      <div class="row row--gutters-medium">
        <div class="row__medium-8">
          <h2 class="generic-text-container">Recent Posts</h2>
          <%# Last three recent blog posts in smaller card format on left side column %>
          <%# Refactor to ejs loop %>
          <div class="recent-post card">
            <div class="row">
              <div class="recent-post__left-side">
                <img class="recent-post__left-side__image" src='<%= post.image %>' />
              </div>
              <div class="recent-post__right-side">
                <div class="recent-post__right-side__text">
                  <h4 class="recent-post__right-side__title"><%= post.title %></h4>
                  <p class="recent-post__right-side__snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
          </div>
          <div class="recent-post card">
            <div class="row">
              <div class="recent-post__left-side">
                <img class="recent-post__left-side__image" src='http://via.placeholder.com/350x175' alt="Placeholder image" />
              </div>
              <div class="recent-post__right-side">
                <div class="recent-post__right-side__text">
                  <h3 class="recent-post__right-side__title">Recent Post Title</h3>
                  <p class="recent-post__right-side__snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
          </div>
          <div class="recent-post card">
            <div class="row">
              <div class="recent-post__left-side">
                <img class="recent-post__left-side__image" src='http://via.placeholder.com/350x175' alt="Placeholder image" />
              </div>
              <div class="recent-post__right-side">
                <div class="recent-post__right-side__text">
                  <h3 class="recent-post__right-side__title">Recent Post Title</h3>
                  <p class="recent-post__right-side__snippet">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%# Second column for archoved posts and tags %>
        <% include partials/sidebar %>
      </div>
    </div>

<% include partials/bottom-section %>
<% include partials/footer %>
