<% include ../partials/header %>
  <% include ../partials/top-section %>

  <div class="row row--gutters-medium">
    <div class="row__medium-8">
      <div class="new-post-form">
        <h1>Create a New Blog Post</h1>

        <form class="new-post-form__form" action="/posts" method="POST">
          <div class="new-post-form__input" >
            <input class="new-post-form__input-field" type="text" name="title" placeholder="Title" />
          </div>
          <div class="new-post-form__input" >
            <input class="new-post-form__input-field" type="text" name="image" placeholder="Image URL" />
          </div>
          <div class="new-post-form__input">
            <textarea class="new-post-form__input-field" name="content" placeholder="Enter your post here"></textarea>
          </div>
          <div class="new-post-form__input">
            <input id="oils" type="checkbox" name="tags" value="Essential Oils" />
            <label for="oils">Essential Oils</label>
            <br />
            <input id="recipes" type="checkbox" name="tags" value="Recipes" />
            <label for="recipes">Recipes</label>
            <br />
            <input id="mental" type="checkbox" name="tags" value="Mental Health" />
            <label for="mental">Mental Health</label>
            <br />
            <input id="parenting" type="checkbox" name="tags" value="Parenting" />
            <label for="parenting">Parenting</label>
            <br />
            <input id="health" type="checkbox" name="tags" value="Health" />
            <label for="health">Health</label>
          </div>
          <input class="new-post-form__submit" type="submit" name="submit" value="Submit" />

        </form>
      </div>
    </div>
    <div class="row__medium-4">
      <h3 class="sidebar__subtitle">Headings</h3>
      <p class="sidebar__link"><h1>&lt;h1&gt;Text&lt;/h1&gt;</h1></p>
      <p class="sidebar__link"><h2>&lt;h2&gt;Text&lt;/h2&gt;</h2></p>
      <p class="sidebar__link"><h3>&lt;h3&gt;Text&lt;/h3&gt;</h3></p>
      <p class="sidebar__link"><h4>&lt;h4&gt;Text&lt;/h4&gt;</h4></p>
      <p class="sidebar__link"><h5>&lt;h5&gt;Text&lt;/h5&gt;</h5></p>
      <p class="sidebar__link"><h6>&lt;h6&gt;Text&lt;/h6&gt;</h6></p>
      <h3 class="sidebar__subtitle sidebar__subtitle--t-margin">Text Modifiers</h3>
      <%# Example tags%>
      <p class="sidebar__link"><strong>&lt;strong&gt;Text&lt;/strong&gt;</strong></p>
      <p class="sidebar__link"><em>&lt;em&gt;Text&lt;/em&gt;</em></p>
      <h3 class="sidebar__subtitle sidebar__subtitle--t-margin">Lists</h3>
      <p class="sidebar__link">&lt;ul&gt;List Items&lt;/ul&gt;</p>
      <p class="sidebar__link">&lt;li&gt;List Item&lt;/li&gt;</p>
      <h3 class="sidebar__subtitle sidebar__subtitle--t-margin">Links</h3>
      <p class="sidebar__link">&lt;a class="blog-post__link" href="URL"&gt;Link&lt;/a&gt;</p>
    </div>
  </div>
</div>


<% include ../partials/footer %>
