<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>Oil My Life Blog</title>
 		<meta name="description" content="A blog about a mother who discovered how essential oils can change her life" />
 		<meta name="author" content="Amy McConnell" />
 		<meta name="HandheldFriendly" content="true" />
 		<meta name="MobileOptimized" content="320" />
 		<!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
 		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
 		<%# <link rel="stylesheet" type="text/css" href="/temp/styles/styles.css">%>
 	</head>
 	<body>
    <h1>Oil My Life</h1>
    <nav>
      <ul>
        <%# Possibly put in links related to different tags %>
        <li>Home</li>
        <li>About</li>
        <li>Link</li>
        <li>Link</li>
      </ul>
    </nav>
    <%# Most recent blog in hero format %>
    <img scr="/assets/images/sean-mcauliffe-12857.jpg" alt="A picture of a nice plant" />
    <h1>First Post Title</h1>

    <%# Last three recent blog posts in smaller card format on left side column %>
    <%# Refactor to ejs loop %>
    <img src='http://via.placeholder.com/350x150' alt="Placeholder image" />
    <h3>Recent Post Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <img src='http://via.placeholder.com/350x150' alt="Placeholder image" />
    <h3>Recent Post Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <img src='http://via.placeholder.com/350x150' alt="Placeholder image" />
    <h3>Recent Post Title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <%# Second column for archoved posts and tags %>
    <h3>Archives</h3>
    <ul>
      <li>This month</li>
      <li>Last month</li>
      <li>Last Last month</li>
    </ul>

    <h3>Tags</h3>
    <%# Example tags%>
    <ul>
      <li>Recipe</li>
      <li>Anxiety</li>
      <li>Parenting</li>
    </ul>

    <%# Full width divider with a link to the parent app %>
    <div>
      <%# Link to main app %>
      <a href="#">Oil My Life</a>
    </div>

    <%# Six posts cards of older posts %>
    <ul>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <h4>Post Title</h4>
        <p>Brief snippet of post</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <h4>Post Title</h4>
        <p>Brief snippet of post</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <h4>Post Title</h4>
        <p>Brief snippet of post</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <h4>Post Title</h4>
        <p>Brief snippet of post</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <h4>Post Title</h4>
        <p>Brief snippet of post</p>
      </li>
      <li>
        <img src="http://via.placeholder.com/200x200" />
        <h4>Post Title</h4>
        <p>Brief snippet of post</p>
      </li>
    </ul>
    <%# Button will load another six posts then move to the end of the list
    to allow for more to be loaded until end %>
    <button>Load More</button>

    <h1>Contact Me</h1>
    <form action="https://formspree.io/mcmcconn@gmail.com" METHOD="POST">
      <input id="name" type="text" name="name" tabindex="1" pattern=".{1,40}" required="required" /><span class="highlight"></span><span class="bar"></span>
      <label for="name">Name</label>
      <input id="email" type="email" name="_replyto" tabindex="1" required="required" /><span class="highlight"></span><span class="bar"></span>
      <label for="email">E-mail</label>
      <input id="subject" name="_subject" type="text" tabindex="2" pattern=".{1,40}" required="required" /><span class="highlight"></span><span class="bar"></span>
      <label for="subject">Subject</label>
      <textarea id="body" name="body" tabindex="3" required="required"></textarea><span class="highlight"></span><span class="bar"></span>
      <label for="body">Message  </label>
      <button type="submit">Send</button>
    </form>
    <ul>
      <li><a href="#">E-mail</i></a></li>
      <li><a href="#">Facebook</a></li>
      <li> <a href="#">Instagram</a></li>
      <li> <a href="#">Twitter</a></li>
      <li> <a href="#">Website</a></li>
    </ul>
    <footer>
      <p>Mark McConnell &copy; 2017</p>
    </footer>
 	<%# <script type="text/javascript" src="/temp/scripts/App.js"></script>%>
 	</body>
 </html>
