<% include ../../partials/header %>
  <% include ../../partials/top-section %>

    <div class="row row--gutters-medium">
      <div class="row__medium-8">
        <div class="new-post-form">
          <div class="new-post-form">
            <h1>Comment on <%= post.title %></h1>

            <form class="new-post-form__form" action="/blog/posts/<%= post._id %>/comments" method="POST">
              <div class="new-post-form__input">
                <textarea class="new-post-form__textarea" name="comment[text]" placeholder="Enter your comment here"></textarea>
              </div>
              <button class="button button--b-radius button--wide">Submit</button>
            </form>
            <a href="/blog/posts"><button class="button button--b-radius button--wide">Go Back</button></a>
          </div>
        </div>
      </div>
      <% include ../../partials/sidebar %>
    </div>
  </div>

<% include ../../partials/footer %>
